{% extends 'base.html.twig' %}

{% block title %}Genus {{ name }}{% endblock %}

{% block body %}
<h1>The Genus {{ name|upper }}</h1>
<ul>
    {% for note in notes %}
        <li>{{ note }}</li>
    {% endfor %}
</ul>
{# {{ dump() }} #}
{# outputs 'a giant dump' #}
{% endblock %}